
img {
    display: block;
    margin: 0 auto;
    width: 10%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

    img:hover {
        transform: scale(1.1);
    }

.img_ini {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
}
